project:
  type: website

website:
  title: "EMPLANT course"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: data_management.qmd
        text: Reproducible Bioinformatics
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



